*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  
}

.footer {
    width: 100%;
    text-align: center;
    background-color: #FEFAF5;
    display: flexbox;
    justify-content: space-evenly;
}

.footer-hours {
        width: 46%;
        display:inline-block;
        }


.footer-address {
            width: 20%;
            display: inline-block;
            }
    .footer_hours_weekday {
        display: inline-block;
        margin-left: 15px;

    }
    .footer_hours_weekend {
        display: inline-block;
        margin-left: 25px;

    }
    .footer_hours_sunday {
        display: inline-block;
        margin-left: 25px;

    }
    .footer_bighours-text {
        text-align: center;
    }

.footer_social_container {
                width: 20%;
                display: inline-block;
                text-align: center;
              }

.footer-gold-text {
color: #DB7A4E;
font-size: smaller;

}

.footer_social-facebook {
    width: 6%;
    margin-left: 35px;
}

.footer_social-twitter {
    width: 10%;
    margin-left: 35px;
    
}
.footer_social-instagram {
    width: 10%;
    margin-left: 35px;
}
.footer_social-text {
    margin-left: 35px;
}


li a {
                text-decoration: none;
                color:#393939;
                text-align: center;
                font-weight: bold;
                
                 }

li {
                    display: inline-block;
                    margin-right: 35px; /* add spacing between items */
                    text-decoration: none;
                }
nav {
    background-color: #FFFFFF;
}

.nav-links {
padding-left: 25px;
}

.nav-links-pushoff {
    padding-left: 600px;
}


.blue-small-text {
    color: #335576;
}

.blue-mid-text {
    color:#335576;
    font-size: larger;
}

.blue-text {
    color:#335576;
}








